<div class="speaker-card">
  
  <div class="speaker-photo">
    {{ content.field_photo }}
  </div>

  <div class="speaker-info">
    <div class="speaker-name">
      {{ content.field_full_name }}
    </div>
    <div class="speaker-description">
      {{ content.field_mini_biography }}
    </div>
  </div>

</div>
